<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="auth-container">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Creează un cont</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Completează formularul pentru a te înregistra</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <ion-item class="ion-margin-bottom">
            <ion-input label="Nume complet" labelPlacement="floating" formControlName="name"></ion-input>
          </ion-item>
          
          <ion-item class="ion-margin-bottom">
            <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email"></ion-input>
          </ion-item>
          
          <ion-item class="ion-margin-bottom">
            <ion-input label="Parolă" labelPlacement="floating" type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-input label="Confirmă parola" labelPlacement="floating" type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          
          <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
            Înregistrează-te
          </ion-button>
        </form>

        <p class="ion-text-center ion-margin-top">
          Înregistrându-te, ești de acord cu <a href="#">Termenii și condițiile</a> noastre.
        </p>
        
        <p class="ion-text-center ion-margin-top">Ai deja un cont? <a routerLink="/login">Login</a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>