<ion-content class="ion-padding">

  <ion-card class="user-card">
    <div class="user-info-section">
      <div class="profile-pic-container">
        <img src="URL_IMAGINE_PROFIL" alt="Profile Picture" class="profile-pic">
      </div>
      <div class="user-details-text">
        <h2 class="user-name">Alex Cole</h2>
        <p class="user-email">alsayedm806@gmail.com</p>
      </div>
    </div>
    <ion-button routerLink="/edit-profile" class="edit-button-card">
      <ion-icon name="create-outline"></ion-icon> edit
    </ion-button>
  </ion-card>

  <div class="options-grid">
    <ion-card class="option-card">
      <ion-item>
        <ion-icon name="heart-outline" slot="start"></ion-icon>
        <ion-label>Sync to Health Connect</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-card>

    <div class="middle-group">
      <ion-card class="option-card">
        <ion-item routerLink="/general-settings">
          <ion-icon name="cog-outline" slot="start"></ion-icon>
          <ion-label>General settings</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" class="arrow-icon"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card class="option-card">
        <ion-item routerLink="/faqs">
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          <ion-label>FAQs</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" class="arrow-icon"></ion-icon>
        </ion-item>
      </ion-card>
    </div>

    <div class="middle-group">
      <ion-card class="option-card">
        <ion-item routerLink="/share-app">
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          <ion-label>Share the app</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" class="arrow-icon"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card class="option-card">
        <ion-item routerLink="/rate-us">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>Rate us</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" class="arrow-icon"></ion-icon>
        </ion-item>
      </ion-card>
    </div>

    <ion-card class="option-card logout-card">
      <ion-item class="logout-item" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="arrow-icon"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>