<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="profileForm" (ngSubmit)="onSave()">

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Birth Date</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" formControlName="birthDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Sex</ion-label>
      <ion-select formControlName="sex" interface="popover">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Activity Level</ion-label>
      <ion-select formControlName="activityLevel" interface="popover">
        <ion-select-option value="sedentary">Sedentary (&lt;5000 pasi)</ion-select-option>
        <ion-select-option value="lightly_active">Mai putin activ (5000-10000 pasi)</ion-select-option>
        <ion-select-option value="active">Activ (&gt;10000 pasi)</ion-select-option>
        <ion-select-option value="very_active">Foarte activ (&gt;125000 pasi)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Profile Picture URL</ion-label>
      <ion-input formControlName="profilePictureUrl"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="profileForm.invalid">Save Profile</ion-button>
  </form>
</ion-content>
