<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Editează Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">Salvează</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="profileForm">
    <div class="profile-picture-section">
      <ion-avatar class="profile-avatar">
        <img [src]="profileForm.get('profilePictureUrl')?.value || 'https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd654d001469146a?s=250'" alt="Poza de profil"/>
      </ion-avatar>
      <ion-button class="change-photo-btn">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        Schimbă poza
      </ion-button>
    </div>

    <ion-list class="edit-profile-list" lines="none">
      <ion-item class="edit-profile-item">
        <ion-input label="Nume" labelPlacement="stacked" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item class="edit-profile-item">
        <ion-input label="Prenume" labelPlacement="stacked" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item class="edit-profile-item">
        <ion-input label="Nume de utilizator" labelPlacement="stacked" formControlName="username"></ion-input>
      </ion-item>
      <ion-item class="edit-profile-item">
        <ion-input label="URL poză de profil" labelPlacement="stacked" formControlName="profilePictureUrl"></ion-input>
      </ion-item>
      <ion-item class="edit-profile-item">
        <ion-input label="Data nașterii" labelPlacement="stacked" id="birthDateInput" formControlName="birthDate"></ion-input>
        <ion-modal trigger="birthDateInput">
          <ng-template>
            <ion-datetime presentation="date" formControlName="birthDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item class="edit-profile-item">
        <ion-select label="Sex" formControlName="sex" interface="popover" placeholder="Selectează">
          <ion-select-option value="male">Masculin</ion-select-option>
          <ion-select-option value="female">Feminin</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="edit-profile-item">
        <ion-select label="Nivel de activitate" formControlName="activityLevel" interface="popover" placeholder="Selectează">
          <ion-select-option value="sedentary">Sedentar (<5000 pași)</ion-select-option>
          <ion-select-option value="lightly_active">Ușor activ (5000-10000 pași)</ion-select-option>
          <ion-select-option value="active">Activ (>10000 pași)</ion-select-option>
          <ion-select-option value="very_active">Foarte activ (>12500 pași)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
  </form>
</ion-content>